# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Virtual environment
venv/
venv*/
*.venv/

# Python
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
*.log

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*~
.DS_Store


migrations